@using RestauranteMobile.Extensions
@model RestauranteMobile.Models.PedidoModel

@Html.HiddenFor(x => x.ProdutoPedido.Composicao)
<table>
    <tr>
        <td align="center">@Html.LabelFor(x => x.ProdutoPedido.IdProduto)</td>
    </tr>
    <tr>
        <td>
            @Html.AutocompleteFor(x => x.ProdutoPedido.IdProduto, @Url.Action("GetProdutos", "Pedido"))
        </td>
    </tr>
    <tr>
        <td align="center">
            @Html.SubmitButton()
            @Html.ResetButton()


        </td>
    </tr>
</table>
