@model PedidoModel
@using Erp.Business
@using RestauranteMobile.Extensions
@using RestauranteMobile.Models

<script type="text/javascript" language="javascript">
    function comporItem(idComposicao) {
        $("#ProdutoPedido_Composicao").attr("value", idComposicao);
        $.ajax({
            url: '@Url.Action("ComporItem", "Pedido")',
            type: 'post',
            dataType: 'html',
            data: $('#formProduto').serialize(),
            success: function (data) {
                $('#content').html(data);
            }
        });
    }

    function removerItem(idComposicao) {
        $("#ProdutoPedido_Composicao").attr("value", idComposicao);
        $.ajax({
            url: '@Url.Action("RemoveItemPedido", "Pedido")',
            type: 'post',
            dataType: 'html',
            data: $("#formProduto").serialize(),
            success: function (data) {
                $('#content').html(data);
            }
        });
    }

</script>

<form id="formProduto">
    @Html.HiddenFor(x => x.ProdutoPedido.Composicao)
    @for (int i = 0; i < Model.Entity.Produtos.Count; i++)
    {
        <div style="visibility:  hidden">
            @{
        Html.RenderPartial("_PedidoPartialPage", Model);
            }

        </div>

        <div class="form-group" align="left" style="width: 100%">

            <table width="100%">
                <tr>
                    <td style="width: 50px">
                        <a onclick="removerItem('@Model.Entity.Produtos[i].IdGuid');">
                            <img src="~/Images/delete.png"/>
                        </a>
                    </td>
                    <td>
                        <a onclick="comporItem('@Model.Entity.Produtos[i].IdGuid');">
                            <table width="100%">
                                <tr>
                                    <td colspan="3">
                                        @Model.Entity.Produtos[i].Produto.Descricao
                                    </td>
                                </tr>
                                <tr>
                                    <td>@Model.Entity.Produtos[i].Quantidade</td>
                                    <td>@Html.FormatedDisplay(Model.Entity.Produtos[i].ValorUnitario, Constants.MaskMoney)</td>
                                    <td>@Html.FormatedDisplay(Model.Entity.Produtos[i].Valor, Constants.MaskMoney)</td>
                                </tr>
                            </table>
                        </a>
                    </td>
                </tr>
               </table>

            <hr style="background-color: black" />
        </div>
    }

</form>



