@model RestauranteMobile.Models.PedidoModel
@{
    var composicao = Model.Entity.Produtos.FirstOrDefault(x => x.IdGuid == Model.ProdutoPedido.ComposicaoEdit);
}


<form id="formProduto">
    @Html.HiddenFor(x => x.ProdutoPedido.Composicao)
    @Html.HiddenFor(x => x.ProdutoPedido.Produto)
    @{
        <div style="visibility: hidden">
            @{
                Html.RenderPartial("_PedidoPartialPage", Model);
            }

        </div>


    }
    <div align="left">
        @if (composicao != null)
        {
            for (var i = 0; i < composicao.Composicao.Count; i++)
            {
                <table>
                    <tr>
                        <td>
                            <a onclick="RemoveItemComposicao('@composicao.IdGuid', '@composicao.Composicao[i].IdGuid')">
                                <img src="~/Images/delete.png" />
                            </a>
                        </td>
                        <td>@composicao.Composicao[i].Produto.Descricao</td>
                    </tr>
                </table>
            }
        }
    </div>
   

</form>
@section scripts
{
    <script type="text/javascript" language="javascript">
    function RemoveItemComposicao(idComposicao, idProduto) {

        $("#ProdutoPedido_Produto").attr("value", idProduto);
        $("#ProdutoPedido_Composicao").attr("value", idComposicao);
        $.post("@Url.Action("RemoveItemComposicaoPedido","Pedido")", $('#formProduto').serialize(), function (data) {
            $('#content').html(data);
        },'html');
        @*$.ajax({
            url: '@Url.Action("RemoveItemComposicaoPedido","Pedido")',
            type: 'post',
            datatype: 'html',
            data: $("#formProduto").serialize(),
            sucess: function (data) {
                $('#container').html(data);
                return data;
            }
        });*@
    }
</script>
}
