@using Erp.Business
@using RestauranteMobile.Extensions
@model RestauranteMobile.Models.PedidoModel
           
<div class="form-group">
    <table width="100%" class="table">
        <tr>
            <td>
                @Html.LabelFor(x => x.ValorProduto)
            </td>
            <td>
                <div class="form-group" align="right">

                    @Html.FormatedDisplay(Model.ValorProduto, Constants.MaskMoney)
                </div>
            </td>
            
        </tr>
        <tr>
            <td>
                @Html.LabelFor(x => x.Entity.Acressimos)
            </td>
            <td>
                <div class="form-group" align="right">
                    @Html.FormatedDisplay(Model.Entity.Acressimos, Constants.MaskMoney)
                </div>
            </td>
            
        </tr>
        <tr>
            <td>
                @Html.LabelFor(x => x.Entity.Descontos)
            </td>
            <td>
                <div class="form-group" align="right">
                    @Html.FormatedDisplay(Model.Entity.Descontos,Constants.MaskMoney)
                </div>

            </td>
        </tr>
        <tr>
            <td>
                @Html.LabelFor(x => x.Entity.ValorPedido)
            </td>
            <td>
                <div class="form-group" align="right">

                    @Html.FormatedDisplay(Model.Entity.ValorPedido, Constants.MaskMoney)
                </div>
            </td>
        </tr>
    </table>
   
</div>
