@using System.Reflection
@using System.Web.Configuration
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title Vendas mobile</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/jqueryval")
    
    @{ var version = Assembly.GetExecutingAssembly().GetName().Version;
     ViewBag.Version = version.Major + "." + version.Minor + "." + version.Build + "." + version.Revision;
    }

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container" style="font-size: 14px">
            <div class="navbar-header">
                
                @Html.ActionLink("Restaurante", "Index", "Home", null, new { @class = "navbar-brand" })
            </div>
            @*<div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    <li>@Html.ActionLink("Pedidos", "Index", "Pedido")</li>
                    <li>@Html.ActionLink("Resultados", "Index", "ListaPedido")</li>
                    <li>@Html.ActionLink("Sair", "Sair", "Login")</li>
                </ul>

            </div>*@
        </div>
    </div>
    <div class="container body-content">
        <div align="center">
            @RenderBody()
        </div>
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Sistema de pedidos para restaurante</p>
            <p>Versão: @ViewBag.Version</p>
        </footer>
    </div>


    @RenderSection("scripts", required: false)
</body>
</html>
