@model RestauranteMobile.Models.LoginModel

@using System.Reflection
@using System.Web.Configuration
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title Vendas mobile</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/jqueryval")

    @{ var version = Assembly.GetExecutingAssembly().GetName().Version;
        Layout = null;
     ViewBag.Version = version.Major + "." + version.Minor + "." + version.Build + "." + version.Revision;
    }

</head>
<body>

    <div class="container body-content" align="center" style="font-size: 18px; background-image: url(~/Images/loginBackground.jpg)" >
        @using (Html.BeginForm("Entrar", "Login"))
        {
            <div class="form-group">
                @Html.LabelFor(x => x.Usuario)
            </div>
            <div class="form-group">

                @Html.TextBoxFor(x => x.Usuario)
            </div>
            <div class="form-group">
                @Html.LabelFor(x => x.Senha)
            </div>
            <div class="form-group">
                @Html.PasswordFor(x => x.Senha)
            </div>
            <div class="form-group" align="center">
                <table>
                    <tr>
                        <td>
                            <input type="submit" value="Entrar" class="btn btn-primary btn-lg" />
                        </td>
                        <td>
                            <input value="Limpar" type="reset" class="btn btn-primary btn-lg" />
                        </td>
                    </tr>
                </table>


            </div>
            <div class="form-group">
                @Html.ValidationSummary()

            </div>
        }
        <hr />
        <footer>
            <div style="font-size: 8px">
                <p>&copy; @DateTime.Now.Year - Sistema de pedidos para restaurante</p>
                <p>Versão: @ViewBag.Version</p>
            </div>
            
        </footer>
    </div>


   
</body>
</html>




